Workflow E - Trading Engine.json
{
  "name": "Workflow E - Trading Engine",
  "nodes": [
    {
      "parameters": {
        "content": "This is the final piece of the puzzle. You have the \"Problem\" (Workflow D generated a Margin Call). Now you need the \"Solution\" (Workflow E fixes it).\n\nWe will build Workflow E: The Trading Engine.\n\nThis introduces Agent Sarah (Portfolio Manager). Her role is to look at the angry email from Mike, check the client's remaining assets, and decide exactly what to sell to raise the cash."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -352,
        -32
      ],
      "typeVersion": 1,
      "id": "f1f6daaa-0127-471b-9345-bba27a7e867c",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "4f5091a4-3dbe-4434-bed1-81652ebabc44",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM sim_runs ORDER BY id DESC LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "d82a22ce-7e28-4a5b-ab40-ce9749c71980",
      "name": "Get_Run_ID",
      "credentials": {
        "postgres": {
          "id": "JY9F4YJ8bl6F2Bop",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM margin_calls \nWHERE run_id = {{ $('Get_Run_ID').first().json.id }}\n-- Optional: Only look at calls made \"Today\"\nORDER BY id DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "6ee869fb-d864-41b1-b153-3ad0342dff44",
      "name": "Get_Margin_Calls",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "JY9F4YJ8bl6F2Bop",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $input.all().length }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    },
                    "id": "6dd55b70-e7df-4df6-8ad8-76e31bdd753f"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        624,
        0
      ],
      "id": "d50f1eb9-610d-4747-b241-e5f38bceb59c",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    i.client_id,\n    i.asset_type,\n    i.quantity,\n    i.market_price\nFROM collateral_inventory i\nWHERE i.client_id = '{{ $json.client_id }}'\nAND i.date = (SELECT MAX(date) FROM collateral_inventory WHERE client_id = i.client_id);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        832,
        0
      ],
      "id": "eb66f15c-d61e-48fa-b0d6-0feee934779d",
      "name": "Get_Portfolio_Context",
      "credentials": {
        "postgres": {
          "id": "JY9F4YJ8bl6F2Bop",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are Sarah, a sophisticated LDI Portfolio Manager.\n\nYour Goal: Manage the portfolio liquidity and risk based on the client's funding status.\n\nYou have three tools:\n\nSELL: Permanently sell assets (Gilts) to raise Cash.\n\nPros: Simple, immediate cash.\n\nCons: Permanently reduces the duration hedge (risky if rates fall).\n\nUse when: Funding is critical (<80%) and we need to de-risk.\n\nREPO: Enter a Repurchase Agreement (Swap Gilts for Cash temporarily).\n\nPros: Raises Cash while keeping the hedge exposure.\n\nCons: Costs interest.\n\nUse when: Funding is healthy (>100%) but we need short-term cash for a margin call.\n\nREVERSE_REPO: Lend excess Cash to receive Gilts temporarily.\n\nUse when: We have too much cash (Cash > 20% of portfolio) and want to earn extra yield."
            },
            {
              "content": "=Margin Call Amount: £{{ $('Get_Margin_Calls').item.json.call_amount }} Current Portfolio: {{ JSON.stringify($json) }} Decide on the trade."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1040,
        0
      ],
      "id": "08f8170c-abf9-48c3-b80a-17a198cea87e",
      "name": "Sarah - Funding PM",
      "credentials": {
        "openAiApi": {
          "id": "wXHENDB3pRQjVrXU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. SAFE CONTEXT RETRIEVAL\nlet context_data = { client_id: \"UNKNOWN\", date: \"2025-01-01\" };\ntry {\n    const calls = $('Get_Margin_Calls').all();\n    if (calls && calls.length > 0) {\n        const idx = (typeof index !== 'undefined' ? index : 0);\n        const item = calls[idx] ? calls[idx] : calls[0];\n        if (item && item.json) context_data = item.json;\n    }\n} catch (error) { console.log(\"Context fail\"); }\n\nlet run_id = 1;\ntry { run_id = $('Get_Run_ID').first().json.id; } catch (e) {}\n\n// 2. GET THE RAW TEXT (Targeted Search)\n// -----------------------------------------------------------\nconst root = items[0].json;\nlet raw_text = \"\";\n\n// A. PRIORITY: The exact path from your screenshot (image_5cd168.jpg)\n// Structure: output[0] -> content[0] -> text\nif (root.output && Array.isArray(root.output) && \n    root.output[0].content && Array.isArray(root.output[0].content) &&\n    root.output[0].content[0].text) {\n    \n    raw_text = root.output[0].content[0].text;\n\n// B. Fallback: Standard n8n AI Agent structure\n} else if (root.output && typeof root.output === 'string') {\n    raw_text = root.output;\n} else if (root.content && typeof root.content === 'string') {\n    raw_text = root.content;\n} \n\n// C. Recursive Search (Only if A & B fail)\n// Ignores IDs starting with \"msg_\"\nif (!raw_text) {\n    function findText(obj) {\n        if (!obj) return \"\";\n        if (typeof obj === 'string' && obj.length > 20 && !obj.startsWith(\"msg_\")) return obj;\n        if (typeof obj === 'object') {\n            for (let key in obj) {\n                let found = findText(obj[key]);\n                if (found) return found;\n            }\n        }\n        return \"\";\n    }\n    raw_text = findText(root);\n}\n\n// 3. EXTRACT ACTION & AMOUNT (Regex Fix)\n// -----------------------------------------------------------\nlet action = \"HOLD\";\nlet asset = \"GILT\";\nlet amount = 0;\nlet rationale = \"Automated Fallback\";\n\n// A. Try JSON Parse first\nconst jsonMatch = raw_text.match(/\\{[\\s\\S]*\\}/);\nlet jsonSuccess = false;\nif (jsonMatch) {\n    try {\n        const parsed = JSON.parse(jsonMatch[0]);\n        if (parsed.action) {\n            action = parsed.action;\n            amount = parsed.amount;\n            jsonSuccess = true;\n        }\n    } catch (e) {}\n}\n\n// B. Regex Scraping (Handles **Action: SELL** formatting)\nif (!jsonSuccess) {\n    // Regex explanation:\n    // Action  -> Find word \"Action\"\n    // :?      -> Optional colon\n    // \\s* -> Optional whitespace\n    // \\** -> Optional asterisks (Sarah uses these!)\n    // ([A-Z_]+) -> Capture the uppercase word (SELL, REPO)\n    const actionRegex = /Action[:\\s*]+(?:\\*\\*)*([A-Z_]+)/i;\n    const actionFound = raw_text.match(actionRegex);\n    if (actionFound && actionFound[1]) {\n        action = actionFound[1].toUpperCase();\n    }\n\n    // Amount Regex: Handles \"£\" and \",\"\n    const amountRegex = /(?:Amount|Sell|Repo).*?[:\\s£$]+([\\d,]+)/i;\n    const amountFound = raw_text.match(amountRegex);\n    if (amountFound && amountFound[1]) {\n        amount = parseFloat(amountFound[1].replace(/,/g, ''));\n    }\n    \n    // Grab the first 100 chars as rationale\n    rationale = raw_text.substring(0, 100).replace(/\\n/g, \" \") + \"...\";\n}\n\n// 4. OUTPUT\nreturn {\n    json: {\n        run_id: run_id,\n        date: context_data.date,\n        client_id: context_data.client_id,\n        action: action,\n        asset_type: asset,\n        amount: amount || 0,\n        rationale: rationale\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        0
      ],
      "id": "ed0806d6-1043-4a8b-a9ee-afbcbbfd11b5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "trades",
          "mode": "list",
          "cachedResultName": "trades"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.run_id }}",
            "amount": "={{ $json.amount }}",
            "date": "={{ $json.date }}",
            "client_id": "={{ $json.client_id }}",
            "action": "={{ $json.action }}",
            "asset_type": "={{ $json.asset_type }}",
            "rationale": "={{ $json.rationale }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "asset_type",
              "displayName": "asset_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "rationale",
              "displayName": "rationale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        0
      ],
      "id": "76a38e45-4b4a-49df-8293-059414a78ccd",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "JY9F4YJ8bl6F2Bop",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "Fill funding gaps via trading:\n\n-GILTS\n-REPO\n-REVERSE REPO"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        -176
      ],
      "typeVersion": 1,
      "id": "2ecd5c14-aa8a-4a8e-ac58-5c5c28071603",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get_Run_ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Run_ID": {
      "main": [
        [
          {
            "node": "Get_Margin_Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Margin_Calls": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get_Portfolio_Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Portfolio_Context": {
      "main": [
        [
          {
            "node": "Sarah - Funding PM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sarah - Funding PM": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5273c521-dcbd-4e29-9c9e-02a7dc236d08",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44b5cee6fe078e7389aac112ea92d8dddb9295fb009c9ee97e76e07cd8c30280"
  },
  "id": "KwkT-Xg58zFKuNVWGpkOs",
  "tags": []
}