Workflow A - World Builder.json
{
  "name": "Workflow A - World Builder",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        0
      ],
      "id": "7f668074-6c29-4516-8e54-92d081ae2feb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clients",
          "mode": "list",
          "cachedResultName": "clients"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sim_run_id": "={{ $json.sim_run_id }}",
            "client_id": "={{ $json.client_id }}",
            "name": "={{ $json.name }}",
            "base_ccy": "={{ $json.base_ccy }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sim_run_id",
              "displayName": "sim_run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "base_ccy",
              "displayName": "base_ccy",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        -208
      ],
      "id": "510c6ced-4f9b-43c4-994b-53f548abc853",
      "name": "Insert Client Data",
      "credentials": {
        "postgres": {
          "id": "JY9F4YJ8bl6F2Bop",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "clients",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        -208
      ],
      "id": "dc8d54d2-fd21-4979-a775-b9897b77efd7",
      "name": "Split Out Client Data"
    },
    {
      "parameters": {
        "jsCode": "// ---------------------------------------------------------\n// CONFIGURATION & SETUP\n// ---------------------------------------------------------\n\n// 1. GET RUN ID\n// We try to get the 'id' from the previous Postgres node.\n// If it doesn't exist (e.g. running manually without that node), we use a Timestamp.\nlet run_id = 1;\n\nif (items.length > 0 && items[0].json && items[0].json.id) {\n   // Use the ID generated by the database\n   run_id = items[0].json.id;\n} else {\n   // Fallback: Generate a unique number based on current time\n   run_id = Math.floor(Date.now() / 1000); \n}\n\nconst start_date = '2025-01-01';\n\n// ---------------------------------------------------------\n// DEFINE RAW CLIENT PROFILES\n// ---------------------------------------------------------\nconst raw_clients = [\n  { id: 'PF_ACME', name: 'Acme Pension', assets: 100000000, dur: 20, hedge: 0.95 },\n  { id: 'PF_BETA', name: 'Beta Industries', assets: 50000000, dur: 15, hedge: 0.80 },\n  { id: 'PF_GAMMA', name: 'Gamma Trustees', assets: 250000000, dur: 24, hedge: 1.00 }\n];\n\n// Initialize empty lists for our database tables\nlet db_clients = [];\nlet db_policies = [];\nlet db_inventory = [];\nlet db_liabilities = [];\n\n// ---------------------------------------------------------\n// GENERATE DATA LOOP\n// ---------------------------------------------------------\nfor (const c of raw_clients) {\n  \n  // *** CRITICAL FIX ***\n  // Create a UNIQUE Client ID for this specific run\n  // Example: \"PF_ACME\" becomes \"PF_ACME_45\"\n  const unique_client_id = `${c.id}_${run_id}`;\n\n  // 1. CLIENT ROW\n  db_clients.push({\n    client_id: unique_client_id,\n    sim_run_id: run_id,\n    name: c.name,\n    base_ccy: 'GBP'\n  });\n\n  // 2. POLICY ROW\n  db_policies.push({\n    client_id: unique_client_id,\n    target_hedge_ratio: c.hedge,\n    drift_tolerance: 0.05,\n    min_cash_buffer_pct: 0.10\n  });\n\n  // 3. INVENTORY ROWS (Assets)\n  // Split: 10% Cash, 90% Gilts\n  \n  // Cash Position\n  db_inventory.push({\n    date: start_date,\n    client_id: unique_client_id,\n    asset_type: 'CASH',\n    isin: 'GBP_CASH',\n    quantity: c.assets * 0.10,\n    market_price: 1.0,\n    haircut: 0.0\n  });\n  \n  // Gilt Position\n  db_inventory.push({\n    date: start_date,\n    client_id: unique_client_id,\n    asset_type: 'GILT',\n    isin: 'GB00B1VWPJ53',\n    quantity: c.assets * 0.90, \n    market_price: 1.0,\n    haircut: 0.05\n  });\n\n  // 4. LIABILITY ROW (Debt)\n  db_liabilities.push({\n    date: start_date,\n    client_id: unique_client_id,\n    pv_liabilities: c.assets,\n    pv01_liab: (c.assets * c.dur) / 10000\n  });\n}\n\n// ---------------------------------------------------------\n// OUTPUT\n// ---------------------------------------------------------\nreturn {\n  json: {\n    clients: db_clients,\n    policies: db_policies,\n    inventory: db_inventory,\n    liabilities: db_liabilities\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        0
      ],
      "id": "82e6a5e2-6cbb-43ec-99b7-5ccb2f0e81f1",
      "name": "Build World - Client, LDI Policies, Collateral Inven, Liablities"
    },
    {
      "parameters": {
        "fieldToSplitOut": "policies",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        0
      ],
      "id": "8c78c62c-bcd5-4773-b0c8-977c51fe7f08",
      "name": "Split Out LDI Policies"
    },
    {
      "parameters": {
        "fieldToSplitOut": "inventory",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        224
      ],
      "id": "0c08be7d-0dc7-4dc7-bea7-d03c867638c4",
      "name": "Split Out Collateral Inventory"
    },
    {
      "parameters": {
        "fieldToSplitOut": "liabilities",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        160,
        432
      ],
      "id": "4a6e0d02-045e-4b26-83c0-19a9bba53480",
      "name": "Split Out Liabilities"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "collateral_inventory",
          "mode": "list",
          "cachedResultName": "collateral_inventory"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quantity": "={{ $json.quantity }}",
            "market_price": "={{ $json.market_price }}",
            "haircut": "={{ $json.haircut }}",
            "date": "={{ $json.date }}",
            "client_id": "={{ $json.client_id }}",
            "asset_type": "={{ $json.asset_type }}",
            "isin": "={{ $json.isin }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "asset_type",
              "displayName": "asset_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isin",
              "displayName": "isin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "market_price",
              "displayName": "market_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "haircut",
              "displayName": "haircut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        224
      ],
      "id": "baed4fc4-725a-4da7-a33b-05823988bd52",
      "name": "Insert Collateral Inventory",
      "credentials": {
        "postgres": {
          "id": "JY9F4YJ8bl6F2Bop",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ldi_policy",
          "mode": "list",
          "cachedResultName": "ldi_policy"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "target_hedge_ratio": "={{ $json.target_hedge_ratio }}",
            "drift_tolerance": "={{ $json.drift_tolerance }}",
            "min_cash_buffer_pct": "={{ $json.min_cash_buffer_pct }}",
            "client_id": "={{ $json.client_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_hedge_ratio",
              "displayName": "target_hedge_ratio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "drift_tolerance",
              "displayName": "drift_tolerance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "min_cash_buffer_pct",
              "displayName": "min_cash_buffer_pct",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        0
      ],
      "id": "528e77bc-6ff1-4d57-8e6c-601a78afce87",
      "name": "Insert LDI Policies",
      "credentials": {
        "postgres": {
          "id": "JY9F4YJ8bl6F2Bop",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "liabilities_daily",
          "mode": "list",
          "cachedResultName": "liabilities_daily"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "pv_liabilities": "={{ $json.pv_liabilities }}",
            "pv01_liab": "={{ $json.pv01_liab }}",
            "date": "={{ $json.date }}",
            "client_id": "={{ $json.client_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_id",
              "displayName": "client_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pv_liabilities",
              "displayName": "pv_liabilities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "pv01_liab",
              "displayName": "pv01_liab",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        432
      ],
      "id": "e618d224-9a10-43b3-bc92-40a52d288e73",
      "name": "Insert Liabilities",
      "credentials": {
        "postgres": {
          "id": "JY9F4YJ8bl6F2Bop",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO sim_runs (run_name) \nVALUES ('Simulation Run ' || NOW()) \nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        0
      ],
      "id": "24eafc63-d0cc-4d34-a5f3-9ba7189d632f",
      "name": "Simulation Orchestration",
      "credentials": {
        "postgres": {
          "id": "JY9F4YJ8bl6F2Bop",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Simulation Orchestration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Client Data": {
      "main": [
        [
          {
            "node": "Insert Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build World - Client, LDI Policies, Collateral Inven, Liablities": {
      "main": [
        [
          {
            "node": "Split Out Client Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out LDI Policies",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Collateral Inventory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Liabilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out LDI Policies": {
      "main": [
        [
          {
            "node": "Insert LDI Policies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Collateral Inventory": {
      "main": [
        [
          {
            "node": "Insert Collateral Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Liabilities": {
      "main": [
        [
          {
            "node": "Insert Liabilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulation Orchestration": {
      "main": [
        [
          {
            "node": "Build World - Client, LDI Policies, Collateral Inven, Liablities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "5ed2f3ec-e452-443c-9eae-074174d10ec5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "44b5cee6fe078e7389aac112ea92d8dddb9295fb009c9ee97e76e07cd8c30280"
  },
  "id": "eYmNbBosepSL-eygkOcVn",
  "tags": [
    {
      "updatedAt": "2026-01-20T02:43:24.285Z",
      "createdAt": "2026-01-20T02:43:24.285Z",
      "id": "0TMXTUOx6RwP4smu",
      "name": "ldi_simulator"
    }
  ]
}